<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Portugal</string>
		<key>cities</key>
		<array>
			<string>Braga</string>
			<string>Coimbra</string>
			<string>Oporto</string>
			<string>Viseu</string>
		</array>
		<key>languages</key>
		<array>
			<string>Portugues</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Finland</string>
		<key>cities</key>
		<array>
			<string>Helsinki</string>
			<string>Tampere</string>
			<string>Turku</string>
			<string>Rovaniemi</string>
		</array>
		<key>languages</key>
		<array>
			<string>Finnish</string>
			<string>Swedish</string>
			<string>Sami</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>EEUU</string>
		<key>cities</key>
		<array>
			<string>New York</string>
			<string>California</string>
			<string>Las vegas</string>
			<string>San Francisco</string>
		</array>
		<key>languages</key>
		<array>
			<string>English</string>
			<string>Spanish</string>
			<string>French</string>
		</array>
	</dict>
</array>
</plist>
